- const versionNumber = "1.14"
html
  head
    title Odds comparison - version history
    link(href="style.css" rel="stylesheet" type="text/css")
  body
    h1 Version info
    h3 Current version: #{versionNumber}
    h1 History
    div  
      h3 Version: 1.14 (7/20/2022)
      div
        p - Improved startup performance
    div  
      h3 Version: 1.13 (6/24/2022)
      div
        p.
          - Improved admin page functionality #[br]
          - Columns with Iddaa odd equal 1 are not hidden anymore
    div  
      h3 Version: 1.12 (6/16/2022)
      div
        p.
          - Redone logic of addition of the new odds #[br]
          - Few more odds added #[br]
          - Fixed refresh logic
    div  
      h3 Version: 1.11 (6/14/2022)
      div
        p - Slight improvements in performance
    div  
      h3 Version: 1.10 (6/5/2022)
      div
        p - Admin page added with ability to map teams/leagues
    div  
      h3 Version: 1.9 (5/28/2022)
      div
        p.
          - Added handling of the ended events: #[br]
          - - Ended games no longer stay in summary section #[br]
          - - "The game is over" text appears for ended games #[br]
          - Team names from Iddaa now appearing in the summary section #[br]
          - Teams/leagues mapping is now stored in MongoDB
    div  
      h3 Version: 1.8 (5/19/2022)
      div
        p.
          - Added summary section #[br]
          - Added automatic odds refresh every 30 seconds #[br]
          - Added version history page 
    div  
      h3 Version: 1.7 (5/16/2022)
      div
        p.
          - Added MBS #[br]
          - Added validation rules: #[br]
          - - when I value is "1" , no need to mark the result as green #[br]
          - - B/L should be smaller then 0,90 (for 3-3 this ratio can be 0,75) #[br]
          - Invalid records are marked by red-ish background #[br]
          - Current score and time added for live event #[br]
          - More teams/leagues mappings added
    div
      h3 Version: 1.6 (5/7/2022) rolled back with 1.7
      div
        p - Added filtering by leagues
    div
      h3 Version: 1.5 (5/4/2022) 
      div
        p - Added "Delete link" button 
    div
      h3 Version: 1.4 (4/28/2022) 
      div
        p - Added teams/leagues mapping
    div
      h3 Version: 1.3 (3/1/2022) 
      div
        p - Odds for 3:3 added
    div
      h3 Version: 1.2 (2/27/2022) 
      div
        p - Added links to Betfair
    div
      h3 Version: 1.1 (2/20/2022) 
      div
        p - Added "Scrape all" button
    div
      h3 Version: 1.0 (2/18/2022) 
      div
        p - Initial version using API published