html
  head
    title Odds comparison
    link(href="style.css" rel="stylesheet" type="text/css")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
  body
    h1 All matches
    for event in data.iddaa
      h3(title = event.league)= event.playingTeams

      div(id = 'data-match-' + event.eventID)
      if event.link == ''
        input(id = 'input-match-' + event.eventID title = 'Enter Betfair ID')
        button(type="button" id = 'btn-match-' + event.eventID onclick="$('#data-match-" + event.eventID + "').load('/api?id=" + event.eventID + "&bf=' + $('#input-match-" + event.eventID + "').val() + '')") Scrape 
      else
        //input(id = 'input-match-' + event.eventID title = 'Enter Betfair ID' value = event.betfairEventID)
        button(type="button" id = 'btn-match-' + event.eventID onclick="$('#data-match-" + event.eventID + "').load('" + event.link + "')") Scrape 
